*{
    padding: 0px;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
	background-color: rgb(20, 0, 62);
    padding: 100px;
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    padding-top: 16px;
}

header img{
    height: 42px;
    margin-right: 16px;
}

header h1{
    font-size: 32px;
    font-weight: bold;
    color: #ccc;
}

.container{
    max-width: 500px;
    width: 100%;
	margin: 0 auto;
	background-color: rgb(49, 47, 105);  
}

form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
    max-width: 300px;
    width: 100%;
}

form input{
    padding: 8px;
    width: 300px;
    height: 28px;
    margin-bottom: 16px;
    border: none;
    border-radius: 2px;
    font-size: 14px;
}

.btn-cadastrar{
    display: flex;
    justify-content: space-between;
    width: 300px;
    padding-top: 16px;
    padding-bottom: 40px;
}

.btn-cadastrar .btn-cad,
.btn-cadastrar .btn-clear{
    padding: 8px;
    width: 120px;
    background-color:rgb(31, 124, 0);
    border: none;
    border-radius: 3px;
    color:#ccc;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.btn-cadastrar .btn-clear{
    background-color: rgb(141, 0, 0);
}

.btn-cadastrar .btn-cad:hover{
    background-color:rgb(92, 135, 78);
}

.btn-cadastrar .btn-clear:hover{
    background-color: rgb(134, 78, 78);
}


